# LINE Bot 相關套件
line-bot-sdk
flask
gunicorn

# 資料庫相關
pymongo

# 圖片處理相關
imgurpython

# 網路請求與資料擷取
requests
beautifulsoup4
html5lib
selenium

# 數據處理與分析
numpy==1.22.4
pandas==1.5.3
pandas_datareader
yfinance==0.2.40
twder
matplotlib
mplfinance==0.12.9b7
talib-binary  

# 時間與排程
schedule
