# LINE Bot 相關套件
line-bot-sdk
flask
gunicorn

# 資料庫相關
pymongo

# 圖片處理相關
imgurpython

# 網路請求與資料擷取
requests
beautifulsoup4
html5lib
selenium

# 數據處理與分析
numpy
pandas
pandas_datareader
yfinance
twder
matplotlib
mplfinance
setuptools

# 時間與排程
schedule
